<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cadastro de tarefas</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <header th:insert="navbar.html :: nav"></header>
        <h1>Cadastro de Tarefas</h1>
        <form th:action="@{/cadastro}" method="POST">
            <div>
                <p>ID: <input type="text" th:field="${tarefa.id}"/></p>
                <p>Descrição: <input type="text" th:field="${tarefa.descricao}"/></p>
            </div>
            <button type="submit">Enviar </button>
        </form>
    </body>
</html>
