<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Calcular</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Calculando os valores</h1>
        <ul>
            <li th:text="${adicao} + ' o resultado da soma'"/>
            <li th:text="${diminuir} + ' o resultado da subtracao'"/>
            <li th:text="${multiplicacao} + ' o resultado da multiplicacao'"/>
            <li th:text="${divisao} + ' o resultado da divisão'"/>
        </ul>
    </body>
</html>
